# Caddy v2 file for Kirby 2 & Kirby 3 local sites
# v0.1.0
# 2020/05/10
#=====================
# Global Block
{
  email youremail@domain.tld
  local_certs
}

# Snippets
# Common server snippet use 'import common'
(common) {
  encode gzip
  php_fastcgi php:9000
  tls internal
  file_server
  header * {
    # You may want some other header options...
    X-Frame-Options "DENY"
    X-XSS-Protection "1; mode=block"
    X-Content-Type-Options "nosniff"
    X-Frame-Options "SAMEORIGIN"
  }
}

#---------------------
# Kirby 2 & 3 common snippet use 'import kirby'
(kirby) {  
  @blocked {
    path *.txt *.md *.mdown
  }
  redir @blocked /
}

#---------------------
# Kirby 2 snippet use 'import kirby2'
(kirby2) {
  # /panel files
  handle /panel* {
    try_files {path} {path}/ /panel/index.php?{uri}&{query}
  }
  
  @notPanel {
    not path /panel*
  }
  handle @notPanel {
    try_files {path}/ /index.php?&{query}
  }
}

#---------------------
# Cachebuster rewrite style.123213.css -> style.css 'import cachebuster'
(cachebuster) {
  @cachedFiles {
      not file
      path_regexp cached ~*(.+)\.(?:\d+)\.(js|css|jpg|svg|png)
  }
  rewrite @cachedFiles {http.regexp.cached.1}.{http.regexp.cached.2}
}

#=====================
# Virtual Hosts - domains need to be added to your hosts file

dev.test:443 {
  root * /srv/public
  import common
  import kirby
}
